html, body, #root, #root>div {
  height: 100%
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container{
  height: 100%;
  display: flow-root;
  box-sizing: border-box;
  padding-top: 56px;
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  border-radius: 3px 3px 0 0;
}

.table-title .btn span {
  vertical-align: middle;
  margin-left: 5px;
}

.table-wrapper {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mt-15{
  margin-top: 15px;
}

.w70{
  width: 70%;
}

.w30{
  width: 30%;
}